.content {
  background-color: #4a3c8d;
  padding: 50px 10%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-content: center;
}
.whitebox {
  background-color: white;
  border-radius: 50px;
  display: flex;
  position: sticky;
  overflow: scroll;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: solid #4a3c8d;
}
.image {
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20%;
  height: 500px;
}
.logoname {
  width: fit-content;
  height: 180px;
  margin: auto;
}
.form {
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.Head {
  font-size: xx-large;
  height: fit-content;
  width: fit-content;
  font-weight: 600;
  padding: 10px;
}
.Forms {
  width: 100%;
  padding: 30px 120px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  height: fit-content;
}
.input {
  width: 80%;
  background-color: #d9d9d9;
  font-size: large;
  padding: 10px 20px;
  border-radius: 15px;
  height: fit-content;
  color: #3b3a3a;
  font-weight: 600;
}
.already {
  height: fit-content;
  padding-bottom: 15px;
  border-bottom: solid #4a3c8d;
}
.google {
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 5px 20px;
  height: fit-content;
  width: fit-content;
  font-size: larger;
  color: #3b3a3a;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.google_img {
  height: 25px;
  width: 25px;
  margin: auto;
  margin-right: 20px;
}
.button {
  margin-top: 40px;
}
@media only screen and (max-width: 900px) {
  .whitebox {
    display: block;
    overflow: scroll;
  }
  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid #4a3c8d;
    border-right: none;
    margin: auto;
  }
  .form {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .Forms {
    width: 100%;
    padding: 20px 3%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
}
