.topb {
  background-color: white;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
}
.navbuttons {
  margin-left: 20;
  margin-right: 20;
  color: #4a3c8d;
  font-size: large;
}
.navbuttons:active {
  font-size: larger;
  font-weight: 600;
}
.nav {
  display: flex;
  width: 70%;
  align-items: center;
}
.acc {
  width: fit-content;
}
